input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: #333333;
    border: none;
    border-radius: 5px 0px 0px 5px;
  
    &:focus,
    &:active {
      outline: none;
      background: #333333;
    }
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #4a4a4a;
      cursor: pointer;
      margin-top: 0px;
    }

    &::-moz-range-thumb {
      border: none;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #4a4a4a;
      cursor: pointer;
    }
  }

  .inner {
    display: flex;
    .btn {
      border: none;
      border-radius: 0px 5px 5px 0px;
      background: #333;
    }
  }