@import "./global.scss";

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: #333333;
    border: none;
    border-radius: $border-radius 0px 0px $border-radius;
    height: 28px;
  
    &:focus,
    &:active {
      outline: none;
      background: #333333;
    }
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 28px;
      width: 16px;
      border-radius: $border-radius;
      background: $text-khs-white;
      cursor: pointer;
      margin-top: 0px;
    }

    &::-moz-range-thumb {
      border: none;
      height: 28px;
      width: 16px;
      border-radius: $border-radius;
      background: $text-khs-white;
      cursor: pointer;
    }
  }

  .inner {
    display: flex;
    .btn {
      border: none;
      border-radius: 0px $border-radius $border-radius 0px;
      background: #333;
      height: 28px;
      position: relative;
      .fa-undo {
        position:relative;
        top: 50%;
        transform: translateY(-33%);
        font-size: 14px !important;
      }
    }
  }